td, th {
    border: 1px solid red;
}

table {
    /* border-collapse: collapse; */
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid green;
}

th {
    text-align: end;
}

td:hover {
    background-color: lightcoral;
    color: white;
}

#operations {
    background-color: rgb(238, 157, 157);
}

#info {
    background-color: rgb(218, 208, 208);
}

body {
    background-image: url(https://static3.bigstockphoto.com/5/5/3/large1500/355760765.jpg);
}